/* ----- Navigation Bar ----- */
.logo{
    color: black;
}

.navbar-nav li{
	padding: 0 10px;
}

.navbar-nav li a{
	color: black !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

#id{
    color: black;
}

.icon{
    padding: 20px;
    margin-left: 150px;
}

.icon a{
    color: black;
    size: 20px;
}

form button{
    margin-left: 20px;
    margin-right: 20px;
}

/* ----- Body ----- */
.title{
    margin: 30px;
}

.card{
    margin-top: 20px;
}

.card:hover{
    background-color: #777;
    color: white;
}

.buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}



/* ----- Footer ----- */
.foot{
    /* background-color: rgb(20, 19, 19); */
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../images/footer.jpg");
}

.foot p{
    color: white;
    margin-top: 15px;
}

.foot i{
    background-color: gray;
    padding: 7px;
    border-radius: 30px;
}

.social-media{
    color: white;
    margin: 2px;
    margin-top: 20px;
}

.logo-end{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 50%;
}

.modal-img{
    width: 100%;
    height: 75%;
}