
/* ----- Banner ----- */

.image{
    height: 500px;
}

.intro{
    margin-bottom: 100px;
    color: black;
}

.intro h1{
    font-size: 60px;
}

.intro h5{
    font-family: 'Times New Roman', Times, serif;
}

.options{
    margin-top: 70px;
}

.options .btn-primary, .btn-dark{
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    .options{
        margin-top: 10px;
    }

    .intro{
        margin-bottom: 50px;
        color: black;
    }

    .img{
        width: 50px;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 500px){
    .options{
        margin-top: 10px;
    }

    .intro{
        margin-bottom: 50px;
        color: black;
    }

    .intro h1{
        font-size: 50px;
    }
}

/* ----- Main Page ----- */
.title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.img{
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.partner{
    margin-top: 30px;
    margin-bottom: 10px;
}

.buttonP{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* ----- Services ----- */
#service{
    margin-bottom: 30px;
    background-color:#f7f7f7 ;
}

/* ----- Realisations ----- */
.card{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
