{% extends 'layouts/base.html' %}
{% load static %}

{% block linkcss %}
	<link rel="stylesheet" type="text/css" href="{% static "atlas_architecture/css/acceuil.css" %} ">
	<link rel="stylesheet" type="text/css" href="{% static "atlas_architecture/css/base.css" %} ">
{% endblock linkcss %}

{% block content %}
	<div id="banner">
		<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			  	<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
			  	<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
			  	<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
			  	<div class="carousel-item active">
					<img src="{% static "atlas_architecture/images/slide1.jpg" %}" class="d-block w-100 image" alt="...">
					<div class="carousel-caption d-sm-block">
						<div class="intro">
							<h1>A T L A S Architecture</h1>
							<h3>Ce qui se conçoit bien se construit aisement et <br/> les fonds pour le faire arrivent rapidement</h3>
							
						</div>
						
					</div>
			  </div>
			  <div class="carousel-item">
					<img src="{% static "atlas_architecture/images/slide2.jpg" %}" class="d-block w-100 image" alt="...">
					<div class="carousel-caption d-sm-block">
						<div class="intro">
							<h1>NOS PARTENAIRES <br/>A VOTRE DISPOSITION</h1>
							<h3 class="d-none d-sm-block">Nous mettons à votre disposition l'assistance de nos <br/>différents partenaires pour vous conseiller, 
								vous donner des références<br/> et vous accompagner dans voos différents projets.
							</h3>
							{% comment %} <div class="row test">
								<div class="col-md-6">
									<a class="btn btn-dark btn-lg" type="button" href="partenaire">Voir nos Partenaires</a>
								</div>
								<div class="col-md-6">
									<a class="btn btn-primary btn-lg" type="button" href="#" style="margin-top: 20px;">Débuter un projet</a>
								</div>
							</div> {% endcomment %}
						</div>
						
					</div>
			  	</div>
				<div class="carousel-item">
					<img src="{% static "atlas_architecture/images/slide3.jpg" %}" class="d-block w-100 image" alt="...">
					<div class="carousel-caption d-sm-block">
						<div class="intro">
							<h1 style="color: white">UNE DIVERSITE DE SERVICES <br/> POUR DES PROJETS PERSONNALISES</h1>
							<h3 style="color: white" class="d-none d-sm-block">Personnalisez au maximum vos projets à votre guise <br/> à l'aide de nos différents services en place pour vous <br/> accompagner dans chaque détails.</h3>
							
						</div>
						
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container">
		<h2 class="text-center title">Qui Sommes Nous ?</h2>
		<p class="text-center" style="color: black; font-size: 20px;">
			ATLAS Architecture eset un cabinet d'architecture créé en 2019 par un 
			groupe d'ingénieurs de nationalité camerounaise dans l'optique de vulgariser 
			l'accès à une architecture de qualité au Cameroun.
		</p>

		<h2 class="text-center title">Nos Valeurs</h2>
		<p class="text-center" style="color: black; font-size: 20px;">
			Honnetteté - Perserverance - Travail - Confiance
		</p>

		<h2 class="text-center title">Nos Mots d'Ordre</h2>
		<p class="text-center" style="color: black; font-size: 20px;">
			Qualité - Coût - Temps - Créativité - Inovation
		</p>

		<h2 class="text-center title">Notre Mission</h2>
		<p class="text-center" style="color: black; font-size: 20px;">
			Donner à chacun les outils nécessaire pour la mise en 
			place d'un cadre de vie propice et s'insérant dans le contexte urbain.
		</p>

	</div>

	<div id="service">
		<div class="container-fluid">
			<h2 class="title text-center" style="color: white; ">SERVICES</h2>
			<div class="row">
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/Service_conception.png" %}" alt="" style="height: 80px;">
                	<p class="text-center sub-title">Conception Architecturale</p>
				</div>
					
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/service_archhitecture_ext.png" %}" alt="" style="height: 80px;">
                	<p class="text-center sub-title">Architecture Extérieure</p>
				</div>
				
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/service_archhitecture_int.png" %}" alt="" style="height: 80px;">
                	<p class="text-center sub-title">Architecture Intérieure</p>
				</div>

				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/service_devis.png" %}" alt="" style="height: 50px;">
                	<p class="text-center sub-title">Devis</p>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<a type="button" class="btn btn-outline-light btn-lg" href="service">Voir Plus</a>
			</div>
		</div>
	</div>

	<p class="text-center" style="color: black; font-size: 25px;">
		Personnalisez au maximum vos projets à votre guise à l'aide de nos différents services <br/> en place 
		pour vous accompagner dans chaque détails tout en gardant un oeuil sur les coûts.
	</p>

	<div id="realisation">
		<div class="container-fluid">
			<h2 class="title text-center" style="color: white; ">REALISATIONS</h2>
			<div class="row">
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/realisation_centre_commercial.jpg" %}" alt="" style="height: 150px;">
                	<p class="text-center sub-title" >Conception Centre Commercial</p>
				</div>
					
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/realisation_ext.jpg" %}" alt="" style="height: 150px;">
                	<p class="text-center sub-title">Extérieure Duplexe</p>
				</div>
				
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/realisation_int.jpg" %}" alt="" style="height: 150px;">
                	<p class="text-center sub-title">Intérieure Duplexe</p>
				</div>

				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/realisation_location.jpg" %}" alt="" style="height: 150px;">
                	<p class="text-center sub-title" >Immeuble a usage d'habitation</p>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<a type="button" class="btn btn-outline-light btn-lg" href="realisation">Voir Plus</a>
			</div>
		</div>
	</div>

	<p class="text-center" style="color: black; font-size: 25px; margin-top: 20px;">
		Gagner en expérience et toujours innover pour vous offrir toujours <strong> MIEUX </strong>!
	</p>

	<div id="partenaire">
		<div class="container-fluid">
			<h2 class="title text-center">PARTENAIRES</h2>
			<div class="row">
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/partenaires_wood_cft.png" %}" alt="">
                	<p class="text-center" style="color: black;">WOOD CFT</p>
				</div>
					
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/GCC.png" %}" alt="">
                	<p class="text-center" style="color: black;">GLOBAL CONSULT AND CONSTRUCTION - BTP</p>
				</div>
				
				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/partenaires_Morine_Deco.png" %}" alt="">
                	<p class="text-center" style="color: black;">Morine Deco</p>
				</div>

				<div class="col-md-3 serv">
					<img src="{% static "atlas_architecture/images/partenaires_ISD_Archi.png" %}" alt="">
                	<p class="text-center" style="color: black;">ISD Architecture</p>
				</div>
			</div>
			
		</div>
	</div>

{% endblock content %}