{% extends 'layouts/base.html' %}
{% load static %}

{% block linkcss %}
	<link rel="stylesheet" type="text/css" href="{% static "atlas_architecture/css/acceuil.css" %} ">
{% endblock linkcss %}

{% block content %}
	<div id="banner">
		<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			  	<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
			  	<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
			  	<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
			  	<div class="carousel-item active">
					<img src="{% static "atlas_architecture/images/slide1.jpg" %}" class="d-block w-100 image" alt="...">
					<div class="carousel-caption d-sm-block">
						<div class="intro">
							<h1>A T L A S Architecture</h1>
							<h5>Conçevoir du niveau de base au niveau avancé pour tous par des experts</h5>
							<div class="row options col-md-12">
								<div class="col-md-6">
									<a class="btn btn-dark" type="button" href="#realisation">Voir nos Réalisations</a>
								</div>
								<div class="col-md-6">
									<a class="btn btn-primary" type="button" href="#">Débuter un projet</a>
								</div>
							</div>
						</div>
						
					</div>
			  </div>
			  <div class="carousel-item">
					<img src="{% static "atlas_architecture/images/slide2.jpg" %}" class="d-block w-100 image" alt="...">
					<div class="carousel-caption d-sm-block">
						<div class="intro">
							<h1>A T L A S Architecture</h1>
							<h5>Conçevoir du niveau de base au niveau avancé pour tous par des experts</h5>
							<div class="row options col-md-12">
								<div class="col-md-6">
									<a class="btn btn-dark" type="button" href="partenaire">Voir nos Partenaires</a>
								</div>
								<div class="col-md-6">
									<a class="btn btn-primary" type="button" href="#">Débuter un projet</a>
								</div>
							</div>
						</div>
						
					</div>
			  	</div>
				<div class="carousel-item">
					<img src="{% static "atlas_architecture/images/slide3.jpg" %}" class="d-block w-100 image" alt="...">
					<div class="carousel-caption d-sm-block">
						<div class="intro">
							<h1>A T L A S Architecture</h1>
							<h5>Conçevoir du niveau de base au niveau avancé pour tous par des experts</h5>
							<div class="row options col-md-12">
								<div class="col-md-6">
									<a class="btn btn-dark" type="button" href="service">Voir nos Services</a>
								</div>
								<div class="col-md-6">
									<a class="btn btn-primary" type="button" href="#">Débuter un projet</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container">
		<h2 class="text-center title">Dans la Conception des Projets avec Vous</h2>
		<p class="text-center">
			Notre travail va étapes par étapes. Nous comprennons que la meilleur façon de vous satisfaire est de vous donner une maitrise suffisante de votre projet. 
			C'est pour cela qu'ATLAS Architecture fait appel à des architectes, des ingénieurs du génie civil, des techniciens supérieurs, et d'autres proffesionels
			du BTP. La réalisation de vos projets s'accompagnent d'un suivi post conception et de conceil judicieux fournis par des experts.
		</p>
		
		<div class="row">
						
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img src="{% static "atlas_architecture/images/img1.jpg" %} " alt="" class="img">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img src="{% static "atlas_architecture/images/img2.jpg" %}" alt="" class="img">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img src="{% static "atlas_architecture/images/img5.jpg" %}" alt="" class="img">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img src="{% static "atlas_architecture/images/img6.jpg" %}" alt="" class="img">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img src="{% static "atlas_architecture/images/img5.jpg" %}" alt="" class="img">
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<img src="{% static "atlas_architecture/images/img6.jpg" %}" alt="" class="img">
				</div>

		</div>
		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-outline-success btn-lg buttonP">VOIR PRESENTATION</button>
		</div>
	</div>

	<div id="service">
		<div class="container">
			<h2 class="title text-center">Services</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 15rem;">
						<img src="{% static "atlas_architecture/images/img1.jpg" %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">ENSP</h5>
						</div>
					</div>
				</div>
	
				<div class="col-md-4">
					<div class="card" style="width: 15rem;">
						<img src="{% static "atlas_architecture/images/img7.jpg" %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">ATLAS Architecture</h5>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card" style="width: 15rem;">
						<img src="{% static "atlas_architecture/images/img5.jpg" %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">G ART</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button type="button" class="btn btn-outline-success btn-lg buttonP">Voir Plus</button>
			</div>
		</div>
	</div>

	<div id="realisation">
		<div class="container">
			<h2 class="title text-center">Réalisations</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 15rem;">
						<img src="{% static "atlas_architecture/images/img5.jpg" %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">ENSP</h5>
						</div>
					</div>
				</div>
	
				<div class="col-md-4">
					<div class="card" style="width: 15rem;">
						<img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">ATLAS Architecture</h5>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card" style="width: 15rem;">
						<img src="{% static "atlas_architecture/images/img4.jpg" %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">G ART</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button type="button" class="btn btn-outline-success btn-lg buttonP">Voir Plus</button>
			</div>
		</div>
	</div>

{% endblock content %}