{% extends 'layouts/base.html' %}
{% load static %}

{% block linkcss %}
    <link rel="stylesheet" type="text/css" href="{% static "atlas_architecture/css/realisation.css" %}">
{% endblock linkcss %}

{% block content %}
    <div class="container">
        <h2 class="text-center title">Nous réalisons vos Inspirations</h2>
        <div class="row">
            <div class="col-md-3" data-toggle="modal" data-target="#staticBackdrop">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <h3>Commentaires</h3>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img4.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img7.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <img src="{% static "atlas_architecture/images/img2.jpg" %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="container row buttons">
            <div class="col-sm-6">
                <button class="btn btn-primary" type="button">Voir plus de Projets</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary" type="button">Débuter un Projet</button>
            </div>
            
        </div>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Nom du Projet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img class="modal-img" src="{% static "atlas_architecture/images/img2.jpg" %}" alt="">
                        <div>
                            <h3>Participant: Franklin Duval</h3>
                            <p>Description du projet: Le projet a été mis en place grace aux logiciel auto cad, photoshop, archicad et autres</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Voir Plus</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
    