{% extends 'layouts/base.html' %}
{% load static %}

{% block linkcss %}
    <link rel="stylesheet" type="text/css" href="{% static "atlas_architecture/css/service.css" %}">
{% endblock linkcss %}

{% block content %}

    <style>
        .title{
            height: 100px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-family: 'Calibri';
        }

        .service p{
            font-size: 18px;
            font-family: 'Calibri';
            font-style: none;
        }

        .speech{
            font-size: 22px;
            font-family: 'Calibri';
            color: black;
        }
    </style>

    <div class="container-fluid bodys">
        <h2 class="text-center title">Nos Services</h2>
        <p class="text-center speech">Le design extérieur d'un ouvrage représente son identité et constitue son premier critère d'évaluation. 
            <br/>Ainsi , il mérite d'être conçu aussi minutieusement que le reste de l'édifice. 
            Du choix des couleurs au choix des matériaux en passant par l'aménagement des espaces verts, ATLAS Architecture vous 
            accompagne afin de faire transparaître sur votre édifice le meilleur de votre imagination.
        </p>

        <div class="scroll">
            {% for serv in services %}
                <div class="service">
                    <img src="{{serv.image.url}}" alt="..." style="height: 50px; width: 65px" />
                    <div class="title">
                        <h3>{{serv.nom}} </h3>
                    </div>
                    <p>{{serv.description}} </p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}
